SiAP/SiAP/obj/
SiAP/.vs/
SiAP/SiAP.Abstracciones/bin/
SiAP/SiAP.Abstracciones/obj/
SiAP/SiAP.BE/bin/
SiAP/SiAP.BE/obj/
SiAP/SiAP.BLL/bin/
SiAP/SiAP.BLL/obj/
SiAP/SiAP.DAL/bin/
SiAP/SiAP.DAL/obj/
SiAP/SiAP.MPP/bin/
SiAP/SiAP.MPP/obj/
SiAP/SiAP.Servicios/bin/
SiAP/SiAP.Servicios/obj/
SiAP/SiAP.Vistas/bin/
SiAP/SiAP.Vistas/obj/
SiAP/SiAP/bin/
